body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #fff;
    color: #000;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #000;
    text-decoration: none;
}

main{
    width: 800px;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid #ccc;
}

section {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
}

section p {
    text-align: center;
}

section h2{
    text-align: center;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

.logo{
    width: 200px;
}

.banner{
    width: 500px;
}

.photos {
	text-align: center;
	margin: 0 0 20px 0;
	overflow: hidden;    
}

.hidden {
    text-align: center;
    display: none;
}

.show {
    display: block; /* Или другой метод показа, если хотите, чтобы он был видим */
    text-align: center;
    transition: opacity 0.5s; /* Плавный переход для эффекта */
}
section p{
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

section p.show {
    max-height: 200px; /* или любое другое значение, соответствующее высоте вашего контента */
    opacity: 1;
    text-align: center;
}

.form-group {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form-group label{}

.form-group input{
    height: 30px;
    margin: 10px 0;
}

.form-group1{
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

.form-group1 button{
    width: 200px;
    height: 40px;
    margin: 0 15px;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    background: #219041;
    border: 1px solid #000;
}

.form-group1 button:hover{
    background: #0eb80e;
    cursor: pointer;
}

.formda h3{
    font-size: 17px;
    margin: 0;
    margin-top: 10px;

}

.yes {
    margin-left: 10px;
}

.button-block{
    width: 200px;
    margin: 0 auto;
}

.button{
    width: 200px;
    height: 40px;
    margin: 0 auto;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    background: #219041;
    border: 1px solid #000;
}

.textPole{
    width: 300px;
    height: 25px;
}

.formg h3{
    margin: 20px 0 0 0;
}

.formg textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
}

.js{
    border-top: 1px solid #000;
    list-style-type: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.rastr {
    margin: 30px 0 0 0;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-row {
    display: flex;
    flex-wrap: wrap;
}
.cart-row1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart {
    border: 1px solid #000;
    margin: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 480px;
    overflow: hidden;
}
.subtitle {
    font-size: 20px;
    text-align: center;
}
.image-cart {
}
.image-cart img{
    width: 380px;
}

.Graphon{
    margin: 30px 0 0 0;
    border-top: 1px solid #000;
}
header {
    position: sticky;
    top: 0; /* Прикрепить к верхней части окна */
    left: 0;
    right: 0;
    background-color: #fff; 
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
}
